/*Temporary inserts for testing of the module*/
.shelves_temp_ins_1 {
  background-color: green;
  width: 100px;
  height: 100px; }

/*Alot of using "nav_menu_divider" is neded to make that style for buttons elements
    will be applayed only to that what is relative to buttons, but not to that what is "insight"
    the "id.nav_menu" but not part of the button itself.
    !!! Maybe later this can be done better*/
.nav_menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

.nav_menu::after {
  /*The clearfix Hack*/
  content: "";
  clear: both;
  display: table; }

.nav_menu__buttons {
  display: block;
  float: left;
  position: relative;
  /*for absolute positioning of childrens*/
  margin: 0px;
  padding: 7px 40px 9px 15px;
  /*border: 2px solid white;*/
  color: white;
  /*background: url("../pics/header/nav_menu_arrow.png") no-repeat;*/ }

.nav_menu__buttons:hover {
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 85%); }

.nav_menu__divider {
  float: left;
  width: 1px;
  height: 36px;
  /*javascript*/
  margin: 0px;
  padding: 0px;
  /*background-color: lightblue; -- !!! This must be done separately for older browsers, 
  but if that what is below is supported than, present of background colour brake gradient*/
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45) 15%, rgba(255, 255, 255, 0.45) 50%, rgba(0, 0, 0, 0.45) 85%); }

/*Some corrections for last button*/
/*!!! ? Do thru javascript*/
.nav_menu__buttons:nth-last-child(2) > p {
  padding-top: 10px; }

/*!!! ? Do thru javascript*/
#watchlist {
  color: #f5de50; }

/*Style of nav menu arrows*/
.nav_menu__arrow {
  position: absolute;
  right: 16px;
  top: 22px;
  width: 10px;
  height: 5px;
  background: url("../img/nav_menu_arrow.png") no-repeat; }

.nav_menu__buttons > p {
  margin: 0px;
  padding: 0px; }

/*Style of the links inside the menu bars and inside sub_nav*/
.nav_menu a {
  color: white; }

.nav_menu a:link {
  text-decoration: none; }

.nav_menu a:hover {
  text-decoration: underline; }

.nav_menu__sub_nav {
  color: green;
  display: none;
  position: absolute;
  left: 0;
  z-index: 10;
  margin: 0px;
  padding: 0px;
  background-color: #f2f2f2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6); }

/*Last sub bar from nav menu must be aligned to the left corner of button.
!!! Can be done thru javascript.*/
.nav_menu__buttons:nth-last-child(2) > .nav_menu__sub_nav {
  left: auto;
  right: 0; }

.nav_menu__buttons:hover > .nav_menu__sub_nav {
  display: block; }
