body {
  margin: 25px;
  padding: 0;
  border: 50px solid #FFBABA;
  background-color: #9B9B9B;
}

/* Temporary inserts for testing of the module*/
.modules_test_ins_1 {
  background-color: #A1A1FF;
  width: 100px;
  height: 100px;
}

.list_1_container {
  width: 300px;
}

.mod_container {
  width: 500px;
}