body {
  margin: 25px;
  padding: 0;
  border: 50px solid #FFBABA;
  background-color: #333333;
}

/* Temporary inserts for testing of the module*/
.modules_test_ins_1 {
  background-color: #A1A1FF;
  width: 100px;
  height: 100px;
}