.m_article_1__rel_box {
  padding: 0;
  list-style-type: none; }

.m_article_1__rel_box > li {
  display: block;
  padding-right: 12px;
  float: left; }

.m_article_1__rel_box > li:last-child {
  display: block;
  padding-right: 0; }

.m_article_1__rel_box::after {
  content: "";
  clear: both;
  display: table; }

.m_article_1__seemore::after {
  content: "\00a0\00bb"; }
