.columns_1 {
  height: 100px;
}

.columns_1::after {
  content: "";
  clear: both;
  display: table;
}

.columns_1__divider {
  width: 10px;
  height: 1px;
  float: left;
  background-color: red;
}

.columns_1__column {
  float: left;
  background-color: yellowgreen;
  height: 100%;
}

