// General link color
$glob-link-col: #136cb2;
// General font color
$glob-font-col: #333;
// sub_nav main text color
$sub_nav_tx_col: #555;

/*1. General style (below)*/
/*Look at comments with the "!!!" in the beginning*/
body {
  /*Revrite some browser style */
  margin: 0 0;
  border: none;
  padding: 0 0;
  width: 100%;
  /*general background for body*/
  background-color: #e3e2dd; /*fallback color*/
  background-image: -webkit-linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
}

#wrapper #root {
  width: 75%;
  margin: 0 auto;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

main {
  width: 66%;
}

aside {
  width: 34%;
}

footer {
}

/*!!! General text and font style*/
/*!!! Add better fonts and check copyrights for fonts*/
#root {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: $glob-font-col;
}

// General link style
a:link {
  color: $glob-link-col;
  text-decoration: none;
}

a:visited {
  color: #70579d;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #edc717;
  text-decoration: none;
}

/*Header style*/

#header_wrap {
  background-color: #575757;
}

#header_margin { /*Cannot do header margin by "margin" property of the box, so I did by padding*/
  padding: 15px 0px 0px 0px;
}

header {
  position: relative; /*for absolute positioning of the children*/
  border-top: 1px solid #444;
  background-image: -webkit-linear-gradient(top, #646464, #0e0e0e); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  height: 83px;
}

header #imdb_logo {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 17px 20px;
}

/*Style of logo*/
  #imdb_logo a {
    display: block;
    margin: 0;
    padding: 0; /*second background image (below) to remove blinking*/
    background-image: url("../pics/header/imdb_logo_unhover.png"), url("../pics/header/imdb_logo_hover.png");
    width: 101px;
    height: 49px;

  }

  #imdb_logo a:hover {
    background-image: url("../pics/header/imdb_logo_hover.png");
    cursor: pointer;
  }
  /*Style of the search_bar and nav_menu*/
  header #search_bar {
    position: absolute;
    left: 140px;
    bottom: 46px;
  }

    header #search_bar input#sch_field, 
    header #search_bar select#sch_par,
    header #search_bar #butn_submit {
      display: block;
      float: left;
      margin-right: 1px; /*as dividers*/
    }


    /*Style of search field*/
    header #search_bar input#sch_field {
      padding: 5px 8px;
      width: 419px;
      font-size: 14px;
      border: none;
      border-radius: 3px 0 0 3px;
      height: 19px;
    }

     header #search_bar input#sch_field, 
     header #search_bar select#sch_par {
       box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
     }

    /*Style of the box of parameters of search*/
    /*!!! Later can be done better: with button moved to the left 
    and adding other arrow*/
    header #search_bar select#sch_par {
      font-size: 11px;
      /*! Below must be as full height of 
      "header #search_bar input#sch_field"*/
      height: 29px;
      color: #999999;
      background-color: white;
      border: none;
      padding: 3px 0px 0px 6px;
    }

    header #search_bar select#sch_par:hover {
      color: black;
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image: -webkit-linear-gradient(top, #f9f9f9 0%,#d8d8d8 70%);
    }

    /*Style of the submit batton*/
    header #search_bar #butn_submit {
      border: none;
      background: #f9ec75;
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #f9ec75 20%, #f3ce00 70%);
      border: 1px solid #E6B800;
      border-radius: 0 3px 3px 0;
      padding: 0px;
    }

    header #search_bar #butn_submit:hover {
      border: none;
      background: #F3CE00;
      border: 1px solid #E6B800;
      cursor: pointer;
    }

    header #search_bar #butn_submit div {
      padding: 5px 7px; /*First value must be the same as in #sch_field*/
      width: 18px;
      height: 17px; /*Must be the same as in #sch_field minus 2*border of #butn_submit*/
      /*!!! Add better quality picture*/
      background: url("../pics/header/submit_pic.png") no-repeat center center;
    }


  header #nav_menu {
    position: absolute;
    left: 141px;
    bottom: 0px;
  }


  // Style of the menu battons

    /*Alot of using "nav_menu_divider" is neded to make that style for buttons elements
    will be applayed only to that what is relative to buttons, but not to that what is "insight"
    the "id.nav_menu" but not part of the button itself.
    !!! Maybe later this can be done better*/

    header #nav_menu ul.nav_menu_buttons {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
    }

    header #nav_menu ul.nav_menu_buttons::after { /*The clearfix Hack*/
    content: "";
    clear: both;
    display: table;
    }

    header #nav_menu ul.nav_menu_buttons li.nav_menu_buttons {
      display: block;
      float: left;
      position: relative; /*for absolute positioning of childrens*/
      margin: 0px;
      padding: 7px 40px 9px 15px ;
      /*border: 2px solid white;*/
      color: white;
      /*background: url("../pics/header/nav_menu_arrow.png") no-repeat;*/
    }

    header #nav_menu ul.nav_menu_buttons li.nav_menu_buttons:hover {
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image: -webkit-linear-gradient(bottom, #333333 15%,#505050 50%,#333333 85%);
    }

      /*Style of nav menu arrows*/
      header #nav_menu ul.nav_menu_buttons li.nav_menu_buttons div.nav_menu_arrow {
        position: absolute;
        right: 16px;
        top: 22px;
        width: 10px;
        height: 5px;
        background: url("../pics/header/nav_menu_arrow.png") no-repeat;
      }

      header #nav_menu ul.nav_menu_buttons li.nav_menu_buttons p.nav_menu_buttons {
        margin: 0px;
        padding: 0px;
      }

      /*Style of the links inside the menu bars and inside sub_nav*/
      header #nav_menu a{
        color: white;
      }

      header #nav_menu a:link{
        text-decoration: none;
      }

      header #nav_menu a:hover{
        text-decoration: underline;
      }
    
    // Style of sub boxes below the nav menu bars
    header #nav_menu li.nav_menu_buttons .sub_nav {
      // Below is main color for text in the .sub_nav
      color: $sub_nav_tx_col;
      display: none;
      position: absolute;
      left: 0px;
      z-index: 10;
      margin: 0px;
      padding: 0px;
      height: 315px; // !!! Can be done better
      background-color: #f2f2f2;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.6);
    }

    // Clearfix hack for floating of inner elements
    // !!! Need to be done for every chaild others
    .clearfix_hack {
      content: "";
      clear: both;
      display: table;
      width: 786px;
    }
    
    .list_box_1 {
      float: left;
      padding-left: 18px;
    }

      // Style of list inside .list_box_1
      .list_box_1 ul {
        padding: 0;
        margin: 0;
      }

      .list_box_1 li {
        padding: 0;
        margin: 0;
        margin-bottom: 5px;
        list-style-type: none;
        line-height: 16px !important; //!! Later can be done somehow better
      }

      .list_box_1 li a {
        color: $sub_nav_tx_col !important; // !! Can be done better
      }

      .list_box_1 h5 {
        margin: 20px 0 10px;
        color: #A58500;
      }

    .ad_to_list_bx_1 {
      float: right;
      padding-left: 18px;
    }

      //!!! Later must be done better
      .ad_to_list_bx_1 a.list_bx_1_pic {
        display: block;
        width: 410px;
        height: 315px;
        // !!! Must be done better
        border-bottom-right-radius: 10px;
        background-image: url("../pics/header/sub_nav_1/list_bx_1_pic.jpg");
        background-size: cover;
      }

      /// !!! Must be removed
      #sub_nav_bx_2 {
        width: 500px;
        height: 100px;
      }

      #sub_nav_bx_3 {
        width: 500px;
        height: 100px;
      }

      #sub_nav_bx_4 {
        width: 500px;
        height: 100px;
      }

    /*Last sub bar from nav menu must be aligned to the left corner of button.
      !!! Can be done thru javascript.*/
    header #nav_menu ul li:nth-last-child(2) div.sub_nav {
      left: auto;
      right: 0px;
    }
    /*!!! ? Do thru javascript*/
    header #nav_menu ul.nav_menu_buttons li.nav_menu_buttons:nth-last-child(2) p.nav_menu_buttons {
      padding-top: 10px;
    }

    /*!!! ? Do thru javascript*/
    header #nav_menu #watchlist a {
      color: #f5de50;
    }

    header #nav_menu .nav_menu_divider {
      float: left;
      width: 1px;
      height: 36px;/*javascript*/;
      margin: 0px;
      padding: 0px;
      background-color: lightblue;
      /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image: -webkit-linear-gradient(top, #333333 15%, #727272 50%, #232323 85%);
    }

/*!!! Do this later*/
header #head_other {
  height: 40px;
  width: 20%;
  float: right;
}

/***************MAIN AND ASIDE STYLE****************************/
/*Applying flex box to main + aside*/

#flex_cont_main_pls_aside {
  display: -webkit-flex; /*for later Chrome*/
}

/*Changes for h3 links in the .main_article and .aside_1*/
aside .aside_1 a:link h3, 
main .main_article a:link h3 {
  color: $glob-font-col;
  text-decoration: none;
}

aside .aside_1 a:visited h3, 
main .main_article a:visited h3 {
  color: $glob-font-col;
}

aside .aside_1 a:hover h3, 
main .main_article a:hover h3 {
  color: $glob-link-col;
}

/*Aside style*/
aside {
  box-sizing: -webkit-border-box;
  background-color: #ededec;
  border-left: 3px solid #999;
}

/*!!! Below just fast filler - it must be made better*/
aside #aside_plug {
  padding: 0px 19px;
}

aside #aside_plug .aside_1 {
  border-bottom: solid 1px #ccc;
  padding-bottom: 20px;
  padding-top: 16px;
}

aside #aside_plug .aside_1:last-child {
  border-bottom: none;
}

aside #aside_plug h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
  margin-bottom: 14px;
}

aside #aside_plug ul {
  padding-left: 15px;
  margin: 12px 0px 20px 0px;
}

aside #aside_plug .list_1 li {
  position: relative; /*For absolute positioning of the children's*/
  list-style-type: none;
  padding-bottom: 20px;
}

aside #aside_plug .list_1 li:last-child {
  padding-bottom: 0px;
}

aside #aside_plug .list_1 li div {
  float: right;
  font-size: 11px;
}

/*Main style. Below is just for test. Must be improved later*/
main .main_article {
  padding: 20px 21px 24px 20px;
  border-top: 1px solid #CCC;
}

main .main_article h3 {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
}

main .main_article .group_of_pics {
  display: flex;
  -webkit-justify-content: space-between;
}

main .main_article p {
  margin: 13px 0px 13px 0px;
  line-height: 1.4;
}

main .main_article p.seemore {
  margin-top: 20px;
}


/*Footer style*/
footer {
  background-color: #ededec;
  border-top: 1px solid #CCC;
}

/*!!! Below just for test. Must be improved later*/
footer #footer_part1 {
  padding: 20px;
  padding-bottom: 30px;
}

footer #footer_part1 #amazon_and_copy::after {
    content: "";
    clear: both;
    display: table;
}

footer #footer_part1 #amazon_and_copy p:first-child {
  float: left;
}

footer #footer_part1 #amazon_and_copy p:last-child {
  float: right;
}

footer #footer_part1 #amazon_and_copy p {
  margin: 0px;
  font-size: 11px;
}

footer #footer_part1 #amazon_and_copy #amazon_logo {
  display: inline-block;
  background-image: url("../pics/footer/amazon_logo.png");
  text-indent: -900px;
  width: 76px;
  height: 16px;
}

footer #footer_part1 #amazon_and_copy {
  margin-bottom: 30px;
}

footer #footer_part1 table {
  font-size: 10px;
}

  footer #footer_part1 table th {
    font-weight: normal;
  }

  footer #footer_part1 table td {
    padding-left: 50px;
  }

  footer #footer_part1 table td:first-child {
    padding-left: 1px;
  }

/*!!!Some part of the link must not have link style at all, 
bust some must have*/
  footer table#amazon_affilates a:hover {
    text-decoration: none;
  }

  footer table#amazon_affilates a:hover span.link_style {
    text-decoration: underline;
  }

  footer table#amazon_affilates a:active span.link_style {
    text-decoration: none;
  }

  footer table#amazon_affilates a:link span.link_no_style {
    color: $glob-font-col;
    text-decoration: none;
  }

  footer table#amazon_affilates a:visited span.link_no_style {
    color: $glob-font-col;
  }